.form_a .field_style1{
	padding:8px !important;
	background:#eee;
	width:60%;	
	box-shadow:1px 1px 1px #ccc inset;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.form_a fieldset {
    border: 1px solid #D1D1D1;
    border-radius: 7px 7px 7px 7px;
    margin-top: 25px;
    padding: 15px;
}

.form_a fieldset legend{
	color: #273953;
    font: 20px Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: -1px;    
}

.form_a .field_style1:focus{
	background:#fff;	
}

.form_a label{	
	margin-bottom:8px;
}

.button_style1{
	color:#777 !important;
	border:1px solid #eee !important;	
	padding:8px 18px !important;	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

.button_style1:hover{		
	color:#fff !important;	
	background:#56b2e3 !important;
}